<h1><span *ngIf="channel">{{ channel.name }}</span></h1>
<ul>
  <li *ngFor="let message of messages | async">
    <blockquote class="blockquote">
      <p class="mb-0">{{ message.content }}</p>
      <footer class="blockquote-footer">{{ message.userId }} at <cite title="Source Title">{{ message.createdAt | date }}</cite></footer>
    </blockquote>
  </li>
</ul>
<form>
  <fieldset>
    <div class="form-group">
      <label for="messageContent">Posting as <span *ngIf="authService.isAuthenticated()">{{ authService.getUserId() }}</span></label>
      <input type="text" class="form-control" name="messageContent" aria-describedby="messageContentHelp" placeholder="Enter message" #newcontent>
      <small id="messageContentHelp" class="form-text text-muted">What do you want to say?</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addMessage(newcontent)">Submit</button>
  </fieldset>
</form>
