<h1>Channels</h1>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let channel of channels | async; let i = index;"
      (click)="onSelect(channel.$key)">
      <th scope="row">{{ i + 1 }}</th>
      <td><button class="btn btn-link">{{ channel.name }}</button></td>
    </tr>
  </tbody>
</table>
<!-- <form>
  <h3>Add a Channel</h3>
  <div>
    <label for="name">Name:</label>
    <input name="name" #newname>
  </div>

  <button (click)="addChannel(newname)">
Create channel
</button>
</form> -->
