<h1>
  {{title}}
  {{ channelId }}
   <router-outlet></router-outlet>
  <form>
    <h3>Add a Channel</h3>
    <div>
      <label for="name">Name:</label>
      <input name="name" #newname>
    </div>

    <button (click)="addChannel(newname)">
      Create channel
    </button>
  </form>

  <select [(ngModel)]="selectedChannelId" (ngModelChange)="selectChannel($event)">
    <option value="">Select a Channel</option>
    <option
      *ngFor="let channel of channels | async"
      [ngValue]="channel.$key">
      {{ channel.name }}
    </option>
  </select>

  <app-channel-list
    [channels]="channels | async">
  </app-channel-list>

  <app-message-list
    [messages]="messages | async">
  </app-message-list>

  <form>
    <h3>Add a Message</h3>
    <div>
      <label for="messageContent">Content:</label>
      <input type="text" name="messageContent" #newcontent>
    </div>
    <button (click)="addMessage(newcontent)">
      Add message
    </button>
  </form>
</h1>
