<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/channels"
          routerLinkActive="active">Channels</a>
      </li>
    </ul>
    <form *ngIf="!isAuthenticated()" class="form-inline float-lg-right">
      <button class="btn btn-outline-success" type="submit" (click)="login()">Sign In</button>
    </form>
    <form *ngIf="isAuthenticated()" class="form-inline float-lg-right">
      <!-- <span class="navbar-text text-muted">Logged in as {{ auth.auth.displayName }}</span> -->
      <button class="btn btn-outline-success" type="submit" (click)="logout()">Sign Out</button>
    </form>
  </nav>
  <router-outlet></router-outlet>
</div>
